<ion-header>
  <ion-toolbar>
    <ion-title>Goal tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tasks">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="setCurrentTask(newTask)" id="edit-task">
      <ion-icon icon="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <air-task-edit [task]="currentTask" [parent]="self" triggerId="edit-task"></air-task-edit>
  <ion-item>
    <ion-label position="floating">Goal: </ion-label>
    {{goal.name}}
  </ion-item>
  <ion-item *ngFor="let task of tasks trackBy identifyTask">
    <table class="eisenhower-view">
      <tbody>
        <tr>
          <td class="eisenhower-icon">
            <air-eisenhower-icon [rankedUnit]="task"></air-eisenhower-icon>
          </td>
          <td>
            {{task.name}}
          </td>
        </tr>
      </tbody>
      <div>
        <ion-button fill="clear" fill="clear" [href]="'http://localhost:3002/collection/' + task.collection.id"
          rel="noopener noreferrer" target="_blank">
          <ion-icon slot="start" icon="folder-open-outline"></ion-icon>
          Conversations
        </ion-button>
        <ion-button (onClick)="setCurrentTask(task)" id="edit-task" fill="clear">
          <ion-icon slot="start" icon="create-outline"></ion-icon>
          Edit
        </ion-button>
      </div>
    </table>
  </ion-item>
  )}
</ion-content>

<ion-content *ngIf="!tasks">
  <ion-item>
    Loading Goal Tasks ...
  </ion-item>
</ion-content>